/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Page background */
body {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}

/* Poster container */
.poster {
  width: 50%;
  margin-top: 100px;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  background-color: black !important; /* FORCE black */
}

/* Heading */
h1 {
  text-transform: uppercase;
  font-size: 3rem;
  margin: 20px 0;
}

/* Image */
.meme_image {
  width: 100%;
  border: 5px solid white;
  display: block;
}

/* Paragraph */
p {
  font-size: 1.2rem;
}
